body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 20px auto;
  width: 380px;
}

ul {
  list-style: none;
  padding-left: 0; 
}

.completed {
  text-decoration: line-through;
}

.uncompleted {
  font-style: italic;
}

.delete-btn {
  color: white;
  display: inline-block;
  background-color: red;
  padding: 0 0.25rem;
  cursor: pointer;
}

.edit-icon {
  opacity: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

h3:hover .edit-icon {
  opacity: 1;
}
